.introduction {
    padding: 40px 20px;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.about-me-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.about-me-text {
    max-width: 600px;
}

.projects {
    padding: 40px 20px;
    border-radius: 20px;
    background-color: var(--projects-bg-color);
    color: var(--projects-text-color);
    transition: background-color 0.3s, color 0.3s;
}

.projects h2 {
    transition: none; /* Disable transition for the h2 element */
}

.project {
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 5px;
}

.project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.project h3 {
    margin-top: 10px;
}

.project p {
    margin: 10px 0;
}

.custom-arrow {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.custom-arrow-next {
    right: 15px;
}

.custom-arrow-prev {
    left: 15px;
}

.slick-dots {
    bottom: -30px;
}

.slick-dots li button:before {
    font-size: 10px;
    color: #000;
}

.slick-dots li.slick-active button:before {
    color: #000;
}

.slick-list {
    overflow: hidden;
    margin: 0 -10px; /* Adjust to prevent overflow */
}

.slick-slide > div {
    margin: 0 10px; /* Adjust to prevent overflow */
}

.slick-prev, .slick-next {
    top: 50%;
    transform: translateY(-50%);
}

.home.light .projects {
    --projects-bg-color: #f0f0f0;
    --projects-text-color: #000;
}

.home.dark .projects {
    --projects-bg-color: #444;
    --projects-text-color: #fff;
}
